$bg-color-primary:           #ffeb33; 
$bg-color-lighten:           #89898b; 
$bg-color-light:             #89898b;
$bg-color-darken:            #424245;
$bg-color-dark:              #131316; 
$bg-color-white:             #fff; 

$global-font-family:           -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
$global-font-size:             16px;
$global-line-height:           1.46;

$color-primary:              #ffe600;
$color-font-white:           #ffffff;
$color-font-light:           #8e8e8e;
$color-font-dark:            #131316;
$color-font-black:           #000;
$color-font-grey:            #8e8e8e;




$color-text-black:           #131316;
$color-text-white:           #fff;
$color-text-yellow:          #ffe600;
$color-text-grey:            #8e8e8e;


$font-size-lg:               25px;
$font-size-base:             15px;


$container-width:            1200px;
$container-padding:          0 10px;


$button-color:               #fff;
$button-color-hover:         #000;
$button-background:          #89898b;;
$button-background-primary:  #89898b;
$button-background-darken:   #424245;
$button-border:              1px solid #ffe600;
$button-padding:             25px 85px;
$button-font-size:           15px;
$button-font-weight:         normal;




$form-color:          #fffff;
$form-background:    #ffe600;
$form-border:         1px solid #ffe600;
$form-height:         50px;
$form-size:           1rem;
$form-group-margin:   1rem;
$form-padding:        20px;


$navbar-breakpoint:    768px;
